$border: 1px solid rgba(0, 0, 0, 0.14);
$cardTitleHoverColor: #2196f3;

@mixin footer {
  color: inherit;
  background-color: transparent !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  overflow-x: hidden !important;
}

.pinned {
  position: fixed;
}

nav {
  box-shadow: none !important;
  border-bottom: $border;
  height: 75px !important;
  line-height: initial !important;
}

.card-title,
.card-content {
  a:hover {
    color: $cardTitleHoverColor !important;
  }
}

.scrollspy {
  margin-bottom: 30px !important;
}

.custom-truncate {
  width: 76%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: inline-block;
}

footer {
  margin-top: 40px;
  border-top: $border;
  @include footer;
}

.footer-copyright {
  @include footer;
}
