.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pinned {
  position: fixed;
}

nav {
    box-shadow: none !important;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    height: 110px !important;
}

nav.top-nav h1.header {
  margin: 0;
  padding-top: 26px;
}

.header {
  color: #ee6e73;
  font-weight: 300;
}

.card-title a:hover,
.card-content a:hover {
  color: #2196F3 !important;
}

.scrollspy {
  margin-bottom: 30px !important;
}